<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>  Search your Dream House</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <h1>Search Your Dream House</h1>

  
  <form action="/quotes" method="POST">
   <div class="form-group">
    <input type="text" class="form-control" placeholder="Keywords" name="name">
    <input type="text" class="form-control" placeholder="Zip Code" name="quote">
  
  </div>
 

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Radius (Miles)<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">10</a></li>
    <li><a href="#">20</a></li>
    <li><a href="#">50</a></li>
    <li><a href="#">all</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    High School Rating <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">>=9</a></li>
    <li><a href="#">>=8</a></li>
    <li><a href="#">>=7</a></li>
    <li><a href="#">>=6</a></li>
    <li><a href="#">>all</a></li>
  </ul>
</div>
    <button type="submit" class="btn btn-default">Search</button>
    <!-- Single button -->
    <h2>Results</h2>
   <!--  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul> -->
 <table class="table">
    <thead>
      <tr>
        <th>Area/Zipcode</th>
        <th>Schools/Rating</th>
        <th>Median House Price</th>
        <th>Crime Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>






 </form>

  </div> <!--container--> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
